/* Impostazioni di base per il corpo della pagina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    align-items: center;      /* Centra verticalmente */
    min-height: 100vh;        /* Imposta la visualizzazione della pagina intera */
}

/* Contenuto della pagina una volta caricato */
.content {
    display: block;
}

/* Posizione fissa della sezione tools */
#tools {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* Centra orizzontalmente gli elementi */
    align-items: center; /* Centra verticalmente gli elementi */
    width:100%;
}

/* Stilizzazione per la sezione zoom */
#zoom-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#zoom-div span {
    font-size: 14px;
}

#zoom-div input {
    flex-grow: 1;
}

/* Styling per le pagine del PDF */
#pages {
    align-items: center; /* Allinea le pagine al centro orizzontalmente */
    width: 100%; /* Puoi regolare la larghezza per centrare la sezione */
    margin-top: 20px; /* Distanza dalla sezione tools */
    padding: 0 10px; /* Distanza laterale per il padding */
}

.page {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%; /* Imposta una larghezza per le pagine */

    display: flex;
    justify-content: center;  /* Centra orizzontalmente il canvas */
    align-items: center;      /* Centra verticalmente il canvas */
}
